/******** Header Section******/
#header{
    background-image: url('../image/chocolate.jpg');
    height: 45vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a {
    float: right!important;
    color: #fff;
    margin-right: 20px;
    text-shadow: 1px 1px 5px #000000;
}
.navbar-brand img{
    width: 60px;
    margin-top: 10px;
    margin-top: 10px;
}
.navbar-toggler{
    margin-right: 20px;
    color:rgb(238, 255, 0);
    border:rgb(229, 255, 0)!important;
    outline:rgb(255, 204, 0)!important;
}
.navbar-toggler .fa {
    color:#d9ff00;
    font-size: 56px;
}
.fixed-top.scrolled{
    background-color: #753900;
    transition: background-color 200ms linear;
    opacity: 0.9;
}


